ol.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol.timeline li {
    display: grid;
    gap: 1rem;
    margin: 0 0 2rem 0;
}

.timeline__date {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    color: var(--color-dark);
    font-size: 1.25rem;
    margin: 0;
}

.timeline__heading {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.25rem;
    margin: 0;
    align-self: center;
}

.timeline__body {
    grid-column: 1;
    grid-row: 3;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-fade);
}

@media (min-width: 600px) {

    ol.timeline li {      
        grid-template-columns: 12em 1fr;
    }
   
    .timeline__heading {
        grid-column: 2;
        grid-row: 1;
    }

    .timeline__body {
        grid-column: 2;
        grid-row: 2;
    }
}




