{% if peopleListItems.length %}
<aside class="home__people">
    <h2>People</h2>
    <p>An index of everyone featured, or mentioned in another story, on this site.</p>
    <ul class="list__people">
        {% for item in peopleListItems %}
            <li><a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.name }}</a></li>
        {% endfor %}
    </ul>
</aside>
{% endif %}
