<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site__header">
  <div class="wrapper">
      <a href="/" class="site__name">
        <span class="visually-hidden">{{ site.name }} - Home</span>
        <span class="" aria-hidden="true">{{ site.name }}</span>
      </a>
      {% set ariaLabel = 'navigation' %}
      {% include "partials/components/nav.njk" %}
  </div>
</header>
