<footer role="contentinfo" class="site__footer">
    <div class="wrapper">
      {% if site.shortDesc %}
      <div class="footer__info">
      <h2>{{ site.name }} </h2> 
            {{ site.shortDesc | markdownFilter | safe }}
      </div>
      {% endif %}
   
    <p class="">
      A project by <a href="https://rachelandrew.co.uk">Rachel Andrew</a> | <a href="/contribute/">Contribution guide</a>
    </p>
    </div>
</footer>
