{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set storyListItems = collections.stories %}

{# People list content #}
{% set peopleListItems = collections.people %}

{# Archive link #}
{% if storyListItems.length < collections.stories.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1" class="home">
    {% include "partials/components/home-intro.njk" %}
    {% include "partials/components/home-story-list.njk" %}
    {% include "partials/components/home-stories-people-list.njk" %}
    {% include "partials/components/pagination.njk" %}
  </main>
{% endblock %}
