{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{# People list content #}
{% set peopleListHeading = 'People' %}
{% set peopleListItems = collections.people %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {% include "partials/components/people-list.njk" %}
  </main>
{% endblock %}
