{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
{% endset %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="post">
      <aside class="post__meta">
          <blockquote><p>{{ pullquote }}</p></blockquote>
          <p class="">
            {% if date %}
              <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
            {% endif %}
            <span>— {{ author }}</span>
          </p>
      </aside>
      <div class="post__intro">
      {% include "partials/components/intro.njk" %}
      </div>
      <div class="post__body">
          
        {{ content | safe }}
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
