
/* colors */
:root {
  --white: #fbf7f0;
  --text: #2a2b2a;
  --lightgrey: #E2DFE0;
  --midgrey: #897C80;
  --pastelbg: #F1F7F8;
  --color-action-bg: #f9813a;
  --color-action-text: #ffffff;
  --color-strong: #1D8A99;
  --color-dark: #124F57;
  --color-fade: #58A4B0;
}

