@import 'config';
@import 'typography';

/**
 * GLOBAL STYLES
 */
html,
body {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link:focus {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: .2rem;
  background-color: var(--color-action-bg);
  color: var(--color-action-text);
  line-height: 1;
  text-decoration: none;
  font-weight: 700;
}

.heading__permalink {
  padding-left: .2ch;
}

.floated {
  float: right;
  margin: 0 0 .2rem 1rem;
  max-width: 300px;
}

.cap {
  font-style: italic;
}


a:link,
a:visited {
  color: var(--color-dark);
}

a:active,
a:hover {
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--text);
  margin: 0;
}

main {
  flex: 1 0 auto;
  &:focus {
    outline: none;
  }
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

hr {
  display: block;
  height: 1px;
  max-width: 500px;
  background: var(--midgrey);
  border: none;
  margin: get-size(900) auto;
}

// For when metric attributes are added to img elements
img {
  height: auto;
}

:focus {
  outline: 2px solid rgb(0, 255, 55);
  outline-offset: 0.25rem;
}

.site__header {
  margin: 0 0 3rem 0;
  padding: 0 0 1rem 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.site__header .wrapper {
  border-bottom: 1px solid var(--midgrey);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.site__header nav {
  margin-left: auto;
}

.site__header nav ul {
  display: flex;
  list-style: none;
}

.site__header nav li {
  margin: 0 1rem;
  padding: .2rem 1rem;
  border: 1px solid var(--color-strong);
}

.site__header nav a {
  text-decoration: none;
  color: var(--color-strong);
}

.site__name {
  font-size: 1.953rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--color-strong);
}

.site__footer {
  background-color: var(--text);
  color: var(--white);
  margin-top: 4rem;
  padding: 2rem 1rem;
}

.footer__info h2, 
.footer__info p {
  display: inline;
}

.footer__info h2 {
  padding-right: .5ch;
}

.site__footer a:link,
.site__footer a:visited {
  color: var(--white);
}

/**
 * PROJECT IMPORTS
 */

// Utils


// Components
@import 'components/posts';
@import 'components/person';
@import 'components/home';
@import 'components/timeline';